.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    text-align: center;
}

.header>* {
    margin-bottom: 15px;
    color: white;
}

.header button {
    background-color: var(--secondary);
    padding: 10px;
    font-size: 1rem;
}